@model MVC_HW3.ViewModel.CommentModel

<table class="commentTable">
    <tr style="background-color:#d14a29">
        <td align="center">留言版</td>
    </tr>
        @foreach (var com in Model._Comment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(t => com.fTDC_Content)
                    @Html.DisplayFor(t => com.fTDC_Date)
                </td>
            </tr>
        }
</table>

<div class="col-lg-7">
    @Html.EditorFor(t => t.fTDC_Content, new { htmlAttributes = new { @class = "form-control", placeholder = "我想留言...." } })  
</div>
<div class="col-lg-2">
    <button type="submit" class="btn btn-primary" style="width:70px">送出</button>
</div>