
@model IEnumerable<MVC_HW3.Models.tPhoto>
@{
    ViewBag.Title = "相簿";
}

<h2>相簿</h2>
<div class="row">
@foreach (var albums in Model)
{

    <div class="@*col-md-2 col-sm-3 col-xs-4*@ col-try2">
        <div class="albox">
           
                <a href="@Url.Action("Photo","Albums",new {area="Albums",ID=albums.fAl_ID})">
                    <div class="divcss5">
                        <img src="@Url.Action("GetImage","Albums",new {area="Albums",id=albums.fPh_ID})" />
                    </div> 
                  
                </a>
           
            
            <div class="padd5">                                
                <h6>第 @albums.tAlbum.tTravelCase.fTC_LorD 期: @albums.tAlbum.tTravelCase.fTC_Title</h6>
               
            </div>
            
        </div>
        
    </div>
}
</div>

@section scripts{
    @*<script>
        $(document).ready(function () {
            var cw = $(".divcss5").width();
            $(".divcss5").css({ 'height': cw + 'px' });
        });


    </script>*@

}