@model IEnumerable<MVC_HW3.Models.tForumMessage>

<table class="commentTable">
    <tr style="background-color:#d14a29">
        <td align="center">留言版</td>
    </tr>
        @foreach (var com in Model)
        {
            <tr>
                <td>
                    <h5 style="color:blue;font-weight:800">@com.tEmployee.fEp_Nickname</h5>
                    @Html.DisplayFor(t => com.fFM_Content)
                    <p align="right">@Html.DisplayFor(t => com.fFM_Date)</p>
                </td>
            </tr>
        }
</table>
