@model MVC_HW3.Models.tRegistrationOpen
<div class="form-group  row">
    @Html.LabelFor(a => a.fRO_CDate, new { @class = "col-sm-4 control-label" })

    <div class="col-sm-8">
        @Html.EditorFor(a => a.fRO_CDate, new { htmlAttributes = new { @class = "form-control" } })

    </div>
</div>
