@model IEnumerable<MVC_HW3.Models.tActivityList>

@foreach (var ac in Model)
{
    @Html.HiddenFor(x => ac.fAL_Projrct)

    @Html.CheckBoxFor(x => ac.fAL_IsSelect)
    @Html.DisplayFor(x => ac.fAL_Projrct)<p> </p>
}









