body.layout {
    background-image: url('../Images/body_bg.jpg');
}
input,textarea,select{ max-width:100%;}

.div-white-bg{
    background:#ffffff; 
    height:30px;
}
.div-white-bg>img{
    margin:5px;
}
.albox {
background-color:skyblue;
border:1px solid #5c81fa;
border-radius:3px;
}

.div-rgba-bk{
      background:rgba(213, 240, 241, 0.25) !important;  
      
}
#dialog-form2 {    
    width:200px;
    height:140px;
margin-top:30px;
margin-left:70px;
}
#EmployeeID,#password{
    border-color:black;
}


.navbar-inverse .navbar-try1 {
  color: white;
    float: left;
  padding: 15px 15px;
  font-size: 30px;
  line-height: 20px;
}

.navbar-inverse .navbar-try1:hover,
.navbar-inverse .navbar-try1:focus {  
  background-color: transparent;
}

.navbar-try1:hover,
.navbar-try1:focus {
  text-decoration: none;
}

.redfont {
color:red
}

.center-h {
text-align:center
}
.button-check{
    margin:50px

}

.news_subject {
    font-size:20px;
    color:blue;
}
.news_date{
    background-color:#5c81fa;
    color:white;

}
.news_txt{

}
.news_more {
    color:black;
    font-size:15px;
}
.w120h80 {
    width:120px;
    height:80px;
}

.marginL50{
    margin-left:50px
}

div.bk_W_h500{
      background:#ffffff !important;
    opacity:0.4;
    height:500px;
    margin-left:10%;
    margin-right:10%;
    width:80%

}

div .col-md-6,.col-md-4,.col-md-2{
    padding:5px;
   
}
.padd5{
    padding:5px;
}
.padd10{
    padding:10px;
}
.divcss6{border:5px solid skyblue;border-radius:3px;} 
.divcss6 img{/*max-width:350px;_width:expression(this.width > 350 ? "350px" : this.width);*/ width:180%} 

.divcss5{overflow:hidden;border:5px solid #ffffff;border-radius:3px;} 
.divcss5 img{/*max-width:300px;_width:expression(this.width > 300 ? "300px" : this.width);*/width:180%} 

.divcss4{overflow:hidden;border:5px solid skyblue;border-radius:3px;} 
.divcss4 img{/*max-width:250px;_width:expression(this.width > 250 ? "250px" : this.width);*/width:180%} 

.divcss6,.divcss5,.divcss4{
    max-width: 100%;
    height: 0;
    padding-bottom: 100%;   
    overflow:hidden;
}

.padtry>.panel-body{
    padding-top:0px;
    padding-bottom:0px;

}


 .bs-example{
    	margin: 20px;
    }
    @media screen and (min-width: 768px) {
        .modal-dialog {
          width: 700px; /* New width for default modal */
        }
        .modal-sm {
          width: 350px; /* New width for small modal */
        }
    }
    @media screen and (min-width: 992px) {
        .modal-lg {
          width: 950px; /* New width for large modal */
        }
    }
     @media screen and (min-width: 1200px) {
        .modal-lg {
          width: 1150px; /* New width for large modal */
        }
    }
     @media screen and (min-width: 1500px) {
        .modal-lg {
          width: 1400px; /* New width for large modal */
        }
    }
    .modal-body{
         padding:0px;
     }
     .modal-dialog img{
         width:100%;
                
     }
     .minH20{
        min-height:150px;

         
     }
