@model IEnumerable<MVC_HW3.Models.tRestaurant>
<style>
    .marginWithImg {
        margin-left: 12em;
       
    }

</style>
<style>
    .grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 200px;/*320px;*/
	max-width: 360px;/*480px;*/
	max-height: 250px;/*360px;*/
	width: 250px;
	height: 250px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 70%;
	max-width: 70%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 1em;
	color: #ff9347;
	text-transform: uppercase;
	font-size: 1em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 50%;
}


    figure.effect-julia {
	background: #2f3238;
}

figure.effect-julia img {
	max-width: 250px;
	height: 250px;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h2 {
	position: relative;
	padding: 0.5em 0;
}

figure.effect-julia p {
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 0.4em 1em;
	background: rgba(162, 207, 222, 0.42);
	color: #ffd800;
	text-transform: none;
	font-weight: 500;
	font-size: 75%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

</style>
@*動態生成餐館資訊*@
<form>
    <div class="row">
        <div class="col-md-9">
       
                <span class="label label-primary" style="font-size:20px ; padding-bottom:12px">
                    餐廳列表
                </span>
        
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#newRestAurantadd">
                新增
            </button>
            @*<a href="@Url.Action("AddRestaurant","Restaurant")" class="btn btn-warning">新增</a>*@
        </div>
    </div>
</form>

<div class="row" style="overflow-y:scroll;overflow-x:hidden;height:700px"> 
    @foreach (var a in Model)
    {
        <div class="grid" id='imglist'>
            <figure class="effect-julia"  data-id="@a.fRe_ID">
                <img src="@Url.Action("GetImageByte","FoodHome",new {id=a.fRe_ID})"  style="width:250px;height:250px" />
                <figcaption>
                    <h2 style="font-weight:bolder">@a.fRe_Name</h2>
                    <p>平均價位：@Html.DisplayFor(model=>a.fR_Price)</p><br />
                    <p>電話：@a.fRe_Tel</p><br />
                    <p id="isDeliveryorNot">是否外送：@a.fRe_Delivery</p><br />
                    <p>簡介：@a.fRe_Content</p><br />
                </figcaption>
            </figure>
            <!-- ... -->
        </div>
    }
</div>


