@* 公告內容 *@
@model MVC_HW3.Models.tBulletin
@{
    ViewBag.Title = "公告內容";
}
@section styles{

}
<h2>@Model.fBu_Title</h2>
<hr />

<div>
    @Model.fBu_Content
</div>

@section scripts{

}