@model IEnumerable<MVC_HW3.Models.tCityCountry>

<div class="row">
        @foreach (var _country in Model)
        {
            <div class="col-lg-2">
                <section class="buttonss" style="clear:both">
                    <div class="container1">

                        <a href="@Url.Action("Index", "TravelMapHome", new { CountryId = _country.fCC_ID })" class="btn btn-1">
                            <svg>
                                <rect x="0" y="0" fill="none" width="100%" height="100%" />
                            </svg>
                            @_country.fCC_Place
                        </a>
                    </div>
                </section>
            </div>
        }
</div>
    